<form [formGroup]="form" (ngSubmit)="save()">
    <button type="button" class="btn btn-primary mb-3" (click)="getList()">Back to List</button>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" [class.is-invalid]="title.invalid && title.touched" id="title" formControlName="title">
        <small class="text-danger" [class.d-none]="title.valid || title.untouched">Field is required</small>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="10" [class.is-invalid]="content.invalid && content.touched" formControlName="content"></textarea>
        <small class="text-danger" [class.d-none]="content.valid || content.untouched">Field is required</small>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>