<button type="button" class="btn btn-primary" (click)="getList()">Back to List</button>
<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">{{post.title}}</h5>
    </div>
    <div class="card-body">      
      <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary m-1" (click)="showEditForm()">Edit</button>
        <button type="button" class="btn btn-primary m-1">Delete</button>
    </div>
  </div>