<button type="button" class="btn btn-primary" (click)="getList()">Back to List</button>
<div class="m-3">
  <label for="search" class="form-label">Search Text</label>
  <input type="text" class="form-control" id="search" [(ngModel)]="searchText">
</div>
<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">{{post.title}}</h5>
  </div>
  <div class="card-body">    
    <p class="card-text" [innerHTML]="post.content | highlightsearch: searchText"></p>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary m-1" (click)="showEditForm()">Edit</button>
    <button type="button" class="btn btn-primary m-1" (click)="deletePost()">Delete</button>
  </div>
</div>