<div class="row pt-5">
    <div class="col-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <div class="mb-0">Login</div>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" [class.is-invalid]="email.invalid && email.touched" id="email" formControlName="email">
                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Field is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" id="password" formControlName="password">
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Field is required</small>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" [class.disabled]="form.invalid">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>