<button type="button" class="btn btn-primary" (click)="showAddForm()">Add new post</button>
<div class="list-group mt-3">
  <button type="button" class="list-group-item list-group-item-action" *ngFor="let title of titles"
    (click)="getPost(title)">
    {{title.postTitle}}
  </button>
</div>
<nav class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="!pageInfo.hasPrevious">
      <a class="page-link" (click)="prevPage()">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="goToPage(1)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="goToPage(2)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="goToPage(3)">3</a>
    </li>
    <li class="page-item" [class.disabled]="!pageInfo.hasNext">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>