<button type="button" class="btn btn-primary" (click)="getList()">Back to List</button>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Created At</th>       
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eventLog of eventLogs">
        <th scope="row">{{eventLog.id}}</th>
        <td>{{eventLog.createdAt}}}</td>
        <td>{{eventLog.content}}}</td>
      </tr>
    </tbody>
  </table>